---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: true
  AlignCaseColons: false
BinPackArguments: true
BinPackParameters: OnePerLine
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakStringLiterals: false
ColumnLimit: 120
CompactNamespaces: true
IndentRequiresClause: true
RequiresClausePosition: WithPreceding
InsertBraces: true
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [ static, constexpr, inline, volatile, type, const ]
TabWidth: 2
UseTab: AlignWithSpaces
SeparateDefinitionBlocks: Always
PackConstructorInitializers: NextLine
BreakBeforeBinaryOperators: NonAssignment
ContinuationIndentWidth: 2
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
SortIncludes: CaseInsensitive
AllowAllArgumentsOnNextLine: false
